*{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
 a
{
    width: 3rem;
    height: 10px;
    background-color: darkcyan;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    align-items: baseline;
}
a:hover{
    color: whitesmoke;
    background-color: #333;
}
.tab{
    padding: 0 2rem;
    border-radius: 0.5rem;
    line-height: 4em;
    font-weight: bold;
    white-space: nowrap;
    transition: all 0.5s linear;
    box-shadow: 5px 5px 20px #000;

}
.tab-items
{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    transition: color 5s ease-in-out;
}