<button style="float: right;" (click) = "sendDataBySubject()">Add Customer</button> <br/>
<table id = "customerTable"  border = 1>
    <thead>
        <tr>
            <th>
                CustomerName
            </th>
            <th>
                Customer Email
            </th>
            <th>
                Contact
            </th>
            <th>
                Address
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let customer of customers;">
            <td>
                {{customer.CustomerName}}
            </td>
            <td>
                {{customer.Email}}
            </td>
            <td>
                {{customer.Contact}}
            </td>
            <td>
                {{customer.Address}}
            </td>
            <td>    
                <a href="#">Edit</a>
            </td>
            <td>
                <a href="#">Delete</a>
            </td>
        </tr>
    </tbody>
</table>